.artist-container{
    height: 90vh;
}
@media (max-width: 600px) {
    .artist-container{
        font-size: .7rem;
    }
}
@media (max-width: 350px) {
    .artist-container{
        font-size: .4rem;
    }
}