@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&display=swap');
*{ font-family: 'Roboto Flex', sans-serif; }

.navbar {
    font-size: xx-large;
    display: flex;
    height: 7vh;
    background-color: #7c2c27;
    justify-content: space-between;
    padding: 0 3em;
}
.title-logo{
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 2rem;
}
.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    text-decoration: none;
    transition: all .2s;

}
.navbar-item:hover {
    transition: all .2s;
    scale: 1.1;
}

#right-navbar-items{
    font-size: 1.2rem;    
}
#right-navbar-items:hover{
    transition: all .2s;
    scale: 1.2;
}

.navbar-logo {
    display: flex;
    height: 100%;
}
  
@media (max-width:768px) {
    .navbar{
        justify-content: center;
    }
    .navbar-list{
        display: none;
    }

}

@media (max-width:600px) {
    .navbar{
        padding: 0;
        font-size: x-large;
    }
}
@media (max-width:290px) {
    .title-logo{
        font-size: 1.6rem;
    }
    .logo{
        height: 60%;
    }
}

.navbar-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.textLogo{
    display: none;
}

.logo {
    height: 80%;
}
  

.logo:hover {
  transition: all .5s;
  color: #ffffff;
  transform: rotateZ(-90deg);
  transform-origin: 50% 50%;
  scale: 1.1;
  .textLogo{
    display: block;
  }
}
