@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&display=swap');


.navbar {
    display: flex;
    height: 7vh;
    background-color: #7c2c27;
    justify-content: space-between;
    width: 100%;
}
.title-logo{
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 2rem;
}
.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-item {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    text-decoration: none;
    transition: all .2s;

}
.navbar-item:hover {
    transition: all .2s;
    scale: 1.1;
}

#right-navbar-items{
    font-size: 1.2rem;    
}
#right-navbar-items:hover{
    transition: all .2s;
    scale: 1.2;
}

.navbar-logo {
    display: flex;
    height: 100%;
}
  

.navbar-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}


.logo {
    height: 7vh;
}


.logo:hover {
    transition: all .5s;
    color: #ffffff;
    transform: rotateZ(-90deg);
    transform-origin: 50% 50%;
    scale: 1.1;
}

@media (max-width:1000px) {
    .navbar{
        padding: 1rem;
    }
    .home-container{
        justify-content: space-around;
    }
}

@media (max-width:768px) {
    .navbar{
        justify-content: space-between;
    }
}

@media (max-width:600px) {
    .navbar{
        padding: 0;
        font-size: x-large;
    }
    .navbar-list{
        display: none;
    }
    .navbar-item{
        margin: 0;
        padding:0;
    }
}

@media (max-width:290px) {
    .title-logo{
        font-size: 1.6rem;
    }
    .logo{
        height: 60%;
    }
}

/* Agregar estilos para el menú hamburguesa */
.menu-button {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: #7c2c27;
    top: 50%; /* Ajustar la posición verticalmente */
    right: 20px; /* Ajustar la posición horizontalmente */
}
  
  /* Mostrar el menú hamburguesa en pantallas pequeñas */
  @media (max-width: 600px) {
    .menu-button {
      display: flex;

    }
    
  
    .navbar-list {
      display: none;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #7c2c27;
      flex-direction: column;
      border-radius: 5px;
      padding: 10px;
      z-index: 1;
    }
  
    .navbar-list.active {
      display: flex;
    }
  }
  @media (max-height: 600px) {
    .title-logo{
        font-size: 1.3rem;
    }
  }