.container {
    display: flex;
    border-radius: 4px;
    transition: all 0.2s;
    scale: 0.9;
    overflow: hidden;
    height: auto;
    aspect-ratio: 5/6.7 ;
    position: relative;
    cursor: pointer;
    background-color: white;
  }
  
  .imagen {
    width: 100%;
    object-fit: cover; /* Ajusta la imagen manteniendo su relación de aspecto y cubriendo todo el espacio disponible */
    transition: transform 0.2s;
}
  
  .overlay {
    position: absolute;
    bottom: -50%;
    width: 100%;
    background-color: rgba(45, 45, 45);
    display: flex;
    flex-direction: column;
    transition: bottom 0.2s;
    color: white;
  }
  
  .container:hover .imagen {
    transform: translateY(-20%);
  }
  .cardBody{
    padding: 2%;
  }
  .container:hover .overlay {
    bottom: 0;
  }
  