
body {
    font-family: Source Sans Pro,sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.artowrk-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(100%/1,max(250px)),1fr));
    padding: 0 5%;
}


.button{
    color: white;
    background-color: rgb(39, 39, 39);
    border: 2px solid #fdfdfd; /* Green */
    min-width: 11vh;
    min-height: 6vh;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}
.button:hover{
    transition: all .5s;
    color: black;
    background-color: beige;
    border: 2px solid #000000; /* Green */
}

.background-true{
    background: rgb(185, 174, 160);
}

.titelMimimized{
    color: #be2035;
    text-align: center;
    padding:  3% 0 1.8% 0;
    font-family: Mersey;
    letter-spacing: 3px;
    
}

.default-container{
    background:  rgb(185, 174, 160);
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media (max-width:436px) {
    .artowrk-container{
        grid-template-columns: repeat(auto-fill,minmax(min(100%/1,max(300px,50%/5)),3fr));
    }
}
